$color-white: #FFFFFF;
$color-orange: #F8765E;
$color-water-leaf: #9BDBE7;
$color-silver: #CDCDCD;
$color-gulf-blue: #031D5B;
$color-waikawa: #5B6C94;
$color-cinderella: #FDE8E1;
$color-boulder: #7C7C7C;

$font-roboto-500: "Roboto 500";
$font-roboto-700: "Roboto 700";
$font-roboto-900: "Roboto 900";