.header {
    background-color: $color-orange;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond-to(tablet-portrait) {
            flex-direction: column;
        }
    }

    &__logo {
        font-family: $font-roboto-900;
        font-size: 26px;
        line-height: 58px;
        color: $color-white;
    }

    &__nav-list {
        display: flex;
    }

    &__nav-item {
        padding-left: 32px;

        @media screen and (max-width: 375px) {
            padding: 13px 14px 10px 20px;
        }
    }

    &__nav-link {
        font-family: $font-roboto-900;
        font-size: 17px;
        line-height: 32px;
        color: $color-white;

        &:hover {
            color: $color-water-leaf;
        }
    }
}